<!doctype html>
<html lang="en" class="h-screen">
    <head>
        <% if (ga) { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga %>"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag() {
                dataLayer.push(arguments)
            }
            gtag('js', new Date())

            gtag('config', '<%= ga %>')
        </script>
        <% } %>
        <base href="%VITE_SITE_BASE%" />

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>s3abird &mdash; a webmail client for emails stored on AWS S3</title>
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
            crossorigin="anonymous"
        />
    </head>
    <body class="bg-base-100 h-screen">
        <div id="app" class="h-screen"></div>
        <script type="module" src="./src/main-vite.js"></script>
    </body>
</html>
